
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Parisienne&family=Playfair+Display+SC:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: Lobster, sans-serif;
    color: black;
}
#logo{
    font-size: 300%;
   text-align: center;
    padding: 100px 0px 30px 50px ; 
    letter-spacing: 2px;
    text-decoration: none;
}
.logo-image{
    background: url(../image/featured-Piano-Cottura\ \(1\).jpg) no-repeat center center ;
    width: 100%;
    background-size: cover;
    height: 350px ;
    margin-top: 5px;


}
h1{
    color: #f7f1f1;
}
#menu{
    text-align: center;
    padding-top: 50px;
   
}

#menu a{
    text-decoration: none;
    color:#f7f1f1;
}
#menu a:hover{
    border-bottom: 1px solid #fff ;
}

 .active{
     border-bottom: 1px solid #fff
 }
  
 #menu li{
     display: inline;
     padding: 4px ;
 }
 #presentation{
     text-align: center;
     font-size: 200%;
     color: blue;

 }

 
 .left{
     float: left;
     width: 32%;
     background-color: #03ac13;
     padding: 20px 20px 21px 30px;
     box-sizing: border-box;
     border: 2px solid #000 ;
     margin-left: 5px;
 }
 .center{
     margin: 0 auto;
     width: 33%;
     padding:20px 50px 90px 150px ;

         
 }
 .right{
     float: right;
     width: 30%;
     background-color: rgb(223, 000, 036);
     padding: 20px 20px 29px 50px ;
     margin-right: 5px;
     box-sizing: border-box;
     border: 2px solid #000;
 }
 
 h3{
     padding-bottom: 20px;
     font-size: 200%;
 }
 div li{
     font-size: 150%;
     font-family: "Playfair-Display, sans-serif";
 }
 #why-us div{
     margin-top: 30px;
 }
 .pastry{
     background: url(../image/pastry2_resized.jpg) no-repeat center center;
     line-height: 100px;
     width: 99%;
     background-size: cover;
     font-size: 200%;
     color: #fff;
     margin: 10px 0px 10px 10px ;
     padding-left: 10px;
 }
 .pastry h3{
    font-family: Parisienne, sans-serif;
    
 }
 .bakery{
     background: url(../image/pane.jpg) no-repeat center center;
     background-size: cover;
     width: 99%;
     font-size: 200%;
     margin: 10px 0px 10px 10px ;
     padding-left: 10px;
     line-height: 100px;
     color: #fff;
 }
 .cooking{
     background: url(../image/knife.jpg) no-repeat bottom;
     background-size:cover;
     width: 99%;
     font-size: 200%;
     margin: 10px 0px 10px 10px ;
     padding-left: 10px;
     line-height: 100px;
 }
 .social-links{

     text-align: center;
 }
 .social-links i{
     font-size: 2rem;
 }
 .social-links li{
     display: inline;
 }
 .social-links a{
     padding: 0 40px 10px 40px ;
 }